extends layout

block content
  div(style='text-align:center')
    h1 Put RSS
    p Get a RSS feed from your Put.io folder 
    p 
      a(class="btn btn-primary btn-lg" href="/auth/putio") Login with Put.io
